/* Navbar */
.nav-container {
  display: grid;
  grid-template-areas: "logo menu auth-cont";
  grid-template-columns: 2fr 10fr 2fr;
  padding: 10px 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 30px 1px;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
}

.logo img {
  width: 75%;
  height: 75%;
}

.menu ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.auth-cont > div {
  min-height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.auth-cont button {
  padding: 10px 15px;
  background-color: var(--highlight);
  color: var(--black);
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.bag {
  background-color: var(--secondary);
  padding: 3px 3px;
  border-radius: 5px;
}
